<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Christian Sullivan</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static\style.css">
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Ubuntu:wght@300;400;500;700&display=swap"
        rel="stylesheet">
</head>

<body>

    <!--Hero/Header-->
    <div class="header">
        <div class="heading-container-primary">
            <div class="heading-title-container">
                <h1 class="title">I'm Christian Sullivan</h1>
            </div>
            <div class="heading-subtitle-container">
                <h2 class="subtitle">Sales Professional and Aspiring Fullstack Developer</h2>
            </div>
            <div class="heading-location-container">
                <h3 class="location">Indianapolis, IN</h3>
            </div>
            <a class="btn" href="static\Resume(11_4_22).pdf">View Resume</a>
        </div>
    </div>


    <!--About Me-->

    <div class="aboutme-container">
        <div class="headshot-container">
            <img class="headshot-img" src="static\img\Headshot (LinkedIn 800 x 800).png"
                alt="Christian Sullivan headshot" width="300" height="300">
        </div>
        <div class="main-title-aboutme">

            <h2 class="aboutme-text">A Bit About Me</h2>
            <h3>Professional Career</h3>
            <p class="content">Over the past 5 years, my curiosity has led me down several incredible paths. Sales
                has
                been the dominate
                category, spanning from pharmacueticals to home improvement, then software and technology.
            </p>
            <br>
            <h3>Development and Free Time</h3>
            <p class="content">Outside
                of my
                day job, I've had a few oppotunities to explore my interest in the sports performance industry and
                software development.</p>
        </div>
    </div>



    <!--Strenght and Skills-->
    <div class="strengths-main">
        <div class="strengths-title-container">
            <h2 class="section-title">Top Strengths</h2>
        </div>
        <div class="row">
            <div class="col-1-of-5">
                <div class="card">
                    <div class="card-img-container">
                        <img class="card-img" src="static\img\restore.jpg" alt="retored car">
                    </div>
                    <div class="card-title-container">
                        <h3 class="card-title">Restorative</h3>
                    </div>
                    <div class="card-text-container">
                        <p class="card-text">I've always been a quick learner, and I am prone to taking on new
                            challenges. When I get into something new, I often find ways to make it better.</p>
                    </div>
                </div>
            </div>
            <div class="col-1-of-5">
                <div class="card">
                    <div class="card-img-container">
                        <img class="card-img" src="static\img\Ideation.jpg" alt="lightbulb">
                    </div>
                    <div class="card-title-container">
                        <h3 class="card-title">Ideational</h3>
                    </div>
                    <div class="card-text-container">
                        <p class="card-text">Fascinated by ideas, I am able to find
                            connections between seemingly disparate phenomena. My mind is always working, looking
                            for new ways to combine things and generate new ideas.</p>
                    </div>
                </div>
            </div>
            <div class="col-1-of-5">
                <div class="card">
                    <div class="card-img-container">
                        <img class="card-img" src="static\img\empathy.jpg" alt="outstretched hand">
                    </div>
                    <div class="card-title-container">
                        <h3 class="card-title">Empathetic</h3>
                    </div>
                    <div class="card-text-container">
                        <p class="card-text">I am talented able to sense the
                            feelings of other people by imagining myself in others’ lives and situations.
                            I am able to tune into the vibes of many situations and understand how to respond
                            appropriately.</p>
                    </div>
                </div>
            </div>
            <div class="col-1-of-5">
                <div class="card">
                    <div class="card-img-container">
                        <img class="card-img" src="static\img\input.jpg" alt="brainstorming group">
                    </div>
                    <div class="card-title-container">
                        <h3 class="card-title">Input</h3>
                    </div>
                    <div class="card-text-container">
                        <p class="card-text">My conversation style is comfortable, relaxed and informal. I enjoy
                            brainstorming sessions to toss around my thoughts and ideas. </p>
                    </div>
                </div>
            </div>
            <div class="col-1-of-5">
                <div class="card">
                    <div class="card-img-container">
                        <img class="card-img" src="static\img\developer.jpg" alt="open laptop">
                    </div>
                    <div class="card-title-container">
                        <h3 class="card-title">Developer</h3>
                    </div>
                    <div class="card-text-container">
                        <p class="card-text">I have a knack for seeing the best in people. I look past their
                            faults and am always on the lookout for what is exceptional and authentic in others. I pick
                            up on
                            things others might not notice or even see at all.</p>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <!--Skills Section-->

    <div class="skills-main-container">
        <div class="skills-title-container">
            <h2 class="skills-title">Skills</h2>
        </div>
        <div class="skills-subheading-container">
            <h3 class="">Sales Industries and Skills</h3>
        </div>
        <div class="sales-tag-container">
            <span class="tag i1">Pharmacueticals</span>
            <span class="tag i2">Hardware</span>
            <span class="tag i3">SaaS</span>
            <span class="tag i4">IT Support</span>
            <span class="tag i5">Cybersecurity</span>
            <span class="tag i6">Business Development</span>
            <span class="tag i7">Enterprise Sales</span>
            <span class="tag i8">Commercial Sales</span>
            <span class="tag i9">SMB Sales</span>
            <span class="tag i10">Territory Planning</span>
            <span class="tag i11">Relationship Development</span>
            <span class="tag i12">Outbound Sales</span>
            <span class="tag i13">Inbound Sales</span>
            <span class="tag i14">Cadence Development</span>
            <span class="tag i15">Cold Calling</span>
            <span class="tag i15">Communication</span>
        </div>

        <div class="skills-subheading-container">
            <h3 class="">Fitness Industry and Skills</h3>
        </div>
        <div class="fitness-tag-container">
            <span class="tag i1">Sports Performance</span>
            <span class="tag i2">Baseball</span>
            <span class="tag i3">General Population</span>
            <span class="tag i4">Program Design</span>
            <span class="tag i5">Program Implementation</span>
            <span class="tag i6">Data collection</span>
            <span class="tag i7">Data analysis</span>
            <span class="tag i8">Communication</span>
            <span class="tag i9">Group Training</span>
        </div>

        <div class="skills-subheading-container">
            <h3 class="">Other Skills</h3>
        </div>
        <div class="others-tag-container">
            <span class="tag i1">Programming</span>
            <span class="tag i2">HTML</span>
            <span class="tag i3">CSS</span>
            <span class="tag i4">SASS</span>
            <span class="tag i5">Python</span>
            <span class="tag i6">Flask & Django</span>
            <span class="tag i7">Bootstrap 5</span>
            <span class="tag i8">Git</span>
            <span class="tag i9">Git Hub</span>
            <span class="tag i10">Bash</span>
            <span class="tag i11">Version Control</span>
            <span class="tag i12">Web development</span>
            <span class="tag i13">Pandas</span>
            <span class="tag i14">Numpy</span>
            <span class="tag i15">MatPlotLib</span>
        </div>

    </div>

    <!--Professional Experience Section-->

    <div class="profexp-container-main">
        <div class="profexp-head-container">
            <h2>Professional Experience</h2>
        </div>
        <div class="jobs-container">
            <div class="job-card job1">
                <h2 class="jobtitle-text">The Ames Company</h2>
                <h3 class="job-subheading">Account Manager</h3>
                <p class="job-description">Plan, coordinate and deliver sales and product knowledge training to more
                    than 100 hardware stores.
                    Work with each manager to create an educational plan
                    that will meet store needs. Manage inventory levels by conducting weekly price analysis on select
                    products and
                    minimizing loss through proper forecasting and replenishment systems. Maintain fill rates above 50%
                    to ensure that all stores have adequate inventory to meet customer demand.</p>
            </div>
            <div class="job-card job2">
                <h2 class="jobtitle-text">Zylo</h2>
                <h3 class="job-subheading">Business Development</h3>
                <p class="job-description">Created and executed an outreach plan to generate over $600,000 innew
                    business pipline for a SaaS management software.<br>
                    <br>
                    Establish relationships with business unit heads in the IT, Procurement and Finance business Units
                    for commercial and enterprise size companies.
                </p>
            </div>
            <div class="job-card job3">
                <h2 class="jobtitle-text">Coretelligent</h2>
                <h3 class="job-subheading">Business Development</h3>
                <p class="job-description">Created and executed an outreach plan to generate over $750,000 in new
                    business pipline for IT Managed Services.

                    Establish relationships with C-level executives at Biotech/Life Science start-ups and various
                    Financial Service Firms.<br>
                    <br>
                    Work with management internally to develop a plan to optimize outreach plan using data collected
                    through our outreach tool.
                </p>
            </div>
        </div>
    </div>



    <!--Contact Me Section-->


    <footer class="contact-me-container">
        <div class="cm-title-container">
            <h2 class="contact-me-title">Contact Me</h2>
        </div>

        <div class="cm-content">
            <p class="cm-text">Email me: <a class="email-link"
                    href="mailto:christian@cjscreative.me">christian@cjscreative.me</a><br>
                Message me on <a class="linkedIn-link"
                    href="https://www.linkedin.com/in/christian-sullivan-087380120/">LinkedIn</a>
        </div>
    </footer>




</body>

</html>